{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}

	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column d-flex h-100 text-center text-white">
		<main class="px-3">
			<h1>{{ peintre.prenom }}
				{{ peintre.nom }}</h1>
			<p class="lead">{{ peintre.aPropos }}</p>
		</main>
	</div>
{% endblock %}
