{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="jumboton">
        <h1 class="dispaly-4">Administration</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam commodi culpa debitis dolorem eaque excepturi facere incidunt itaque laudantium libero maiores necessitatibus omnis quae quo, saepe soluta totam ut.</p>
    </div>
{% endblock %}