{% extends 'base.html.twig' %}

{% block title %}Portfolio
{% endblock %}

{% block body %}
	<div class="container px-4 py-5" id="custom-cards">

		<h2 class="pb-2 border-bottom">{{categorie.nom}}</h2>
		<p>{{categorie.description}}</p>

		<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
			{% for peinture in peintures %}
				<div class="col">
					<a href="#!" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{{peinture.file}}');">
						<img class="card-img" src="{{peinture.file}}" alt="">
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
