{% extends 'base.html.twig' %}

{% block title %}Portfolio
{% endblock %}

{% block body %}
	{% set img = categorie.peintures|last %}

	<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="bd-placeholder-img" width="100%" height="100%" style="background-image: url({{ vich_uploader_asset(img, 'imageFile') | imagine_filter('welcome') }})" aria-hidden="true" preserveaspectratio="xMidYMid slice" focusable="false"/>
				<div class="container">
					<div class="carousel-caption text-start">
						<h1>{{categorie.nom}}</h1>
						<p>{{categorie.description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container px-4 py-5" id="custom-cards">
		<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
			{% for peinture in peintures %}
				<div class="col">
					<a href="#!" class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
						<img src="{{ vich_uploader_asset(peinture, 'imageFile | imagine_filter('miniature')') }}" alt="..." class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveaspectratio="xMidYMid slice" focusable="false">
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
